[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
pillow = "*"
requests = "*"
scipy = "*"
regex = "*"
dateparser = "*"
google-api-python-client = "*"
aioify = "*"
praw = "*"
pandas = "*"
tqdm = "*"
seaborn = "*"

[dev-packages]

