[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = {editable = true,extras = ["voice"],git = "https://github.com/Rapptz/discord.py",ref = "rewrite"}
pillow = "*"
requests = "*"
scipy = "*"
regex = "*"
dateparser = "*"

[dev-packages]

[requires]
python_version = "3.6"
